.styled_button{
    border: none;
    height: 30px;
    width: 250px;
    background: rgb(2,0,36);
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: calc(30px/2);
    transition: all 0.5s ease;
}

.styled_button:hover{
    background: rgb(2,0,36);
    background: linear-gradient(200deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: rgb(255, 255, 255);
    transform : scale(0.9)
}